*{margin: 0;padding: 0;}
body, html {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    /* padding-top: 70px; */
}
.navbar .navbar-brand{
    font-size: 30px;
    font-weight: bolder;
    background-color: gold;
    font-family: 'Roboto', sans-serif;
    padding: 10px 10px;
    text-shadow: 5px 5px 10px pink;
    position: relative;
    top: -8px;
    border-bottom-left-radius: 20px;
}
/* .navbar .nav-item{
    padding: 0 10px;
} */
.navbar .nav-link{
    font-size: 18px;
    color: gold!important;
}
.navbar-toggler-icon{
    color: red!important;
}
.navbar-toggler{color: red!important;}
.navbar .nav-link:hover{
    color: wheat!important;
}
/* END-NAV */
/* NAV---SLIDER */
.top{
    background-image: url(https://themes.3rdwavemedia.com/velocity/bs4/4.0/assets/images/background/bg-header-2.jpg);
    height: 700px;
    background-size: cover;
}
/* END */
/* SLIDER */
.banner {
   margin-top: 5%;
} 
.banner h2 {
    color: wheat;
}
.banner p{
    color: wheat;
    line-height: 30px;
    font-size: 20px;
    font-family: segoe ui light;
}
.banner a{
    font-weight: bold;
}
.container{
    width: 100%;
}


/* MEDIA */
/* @media screen and (max-width: 768px) 
{
    .nav-item
    {
        font-size: 13px !important;
    }
} */
/* @media (max-width:992px){
    .container{
        width: 100%;
    }
    .banner h2 {
         font-size:40px;
    }
    .banner p{
        font-size: 20px;
    }
    .banner a{
        font-weight: bold;
    }
}
@media (max-width:767px){
    .container{
        width: 100%;
    }
    .banner h2 {
        color: wheat;
        font-size:30px;
    }
    .banner p{
        font-size: 18px;
    }
 
}

@media (max-width:545px){
    .container{
        width: 100%;
    }
    .banner h2 {
        font-size:25px;
       
    }
    .banner p{
        font-size: 15px;
    }
    .banner a{
        font-size:15px;
    }
} */

